html,
body {
  background: #ffffff;
  margin: 0;
  padding: 0;
}
.brand-bold {
  width: 47px;
  height: 35px;
  left: 10px;
  top: 13px;

  font-family: Heebo;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 35px;

  /* Gray 1 */

  color: #333333;
}

.navbar-light .navbar-nav .nav-link {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  /* identical to box height */

  /* Gray 1 */

  color: #333333;
}
.info {
  margin: 2em 0 1em 4em;
}
.info-2 {
  margin: 2em 0 1em 4em;
}
.info-2 h4 {
  width: 227px;
  height: 58px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  /* Gray 1 */

  color: #333333;
}
.demand {
  padding: 1em 0 0em 0;
  
  height: 72px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  /* Gray 1 */

  color: #333333;
}
.info-2 p {
  
  height: 74px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;

  /* Gray 2 */

  color: #4f4f4f;
}
.info-2 h6 {
  width: 232px;
  height: 21px;
  left: 40px;
  top: 564px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;

  /* Gray 3 */

  color: #828282;
}
.input-group{
    flex-wrap: nowrap;

}
.input-group > .form-control,
.input-group > .form-control-plaintext {
  /* position: relative; */
  -ms-flex: 1 1 auto;
  flex: 0 auto;

  width: 291px;
  height: 47px !important;
}
.info-2 button {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  /* Gray 6 */

  color: #f2f2f2;

  background: #2d9cdb;
  border-radius: 12px;
}
.info-2 button:hover {
  background: #3194ce;
}
.info-2 input {
  width: 291px;
  height: 47px;
  /* Gray 6 */

  background: #f2f2f2;
  border-radius: 12px;
}

.info h6 {
  width: 171px;
  height: 18px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  color: #2d9cdb;
}
.info h4 {
  width: 272px;
  height: 72px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  /* Gray 1 */

  color: #333333;
}
.rounded-img {
  border-radius: 0.8em;
}
.Getstarted-1 {
  width: 116px;
  height: 42px;
  left: 48px;
  top: 1186px;

  background: #e0e0e0;
  border-radius: 12px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #828282;
}
.section {
  padding: 3em 0 3em 1em;
  margin-bottom: 5em;
}
.icon-1 {
  width: 67px;
  height: 67px;
  left: 50px;
  top: 898px;

  background: #2d9cdb;
  border-radius: 16px;
}
.pen {
  background: #ffffff;
}
.icon-2 {
  width: 67px;
  height: 67px;

  background: #27ae60;
  border-radius: 16px;
}
.icon-3 {
  width: 67px;
  height: 67px;

  background: #eb5757;
  border-radius: 16px;
}
.section-2 {
  width: 341px;
  height: 422px;

  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
}
.section p {
  width: 273px;
  height: 96px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  /* Gray 2 */

  color: #4f4f4f;
}
.section h4 {
  width: 160px;
  height: 36px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  /* Gray 1 */

  color: #333333;
}
.design h4 {
    width: 267px;

height: 72px;


font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;

/* Gray 1 */

color: #333333;
}
.img-padding {
  margin-top: 8em;
}
.img-padding-2 {
  margin-bottom: 8em;
}
.see-more {
   
    height: 36px;
 
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    
    
    color: #2D9CDB;
  margin-bottom: 5em;
}
.col-md-6 h6 {
  margin-top: 0.5em;
  width: 293.41px;
  height: 17.55px;

  
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  
  
  /* Gray 3 */
  
  color: #828282;
}
.col-md-6 h5 {
  margin-bottom: 1em;
  width: 341.17px;
height: 30.22px;


font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;

/* Gray 1 */

color: #333333;
}
.flex-img {
  display: flex;
}
.flex-1 {
  flex: 1;

  margin: 7.5em 1em 0 0;
}
.flex-2 img {
  margin-top: 1em;
}
.flex-2 {
  flex: 1;
}

.result {
  max-width: 80%;
}
.relative img {
  width: 5em;
  height: auto;
}
.relative {
  position: relative;
}
.absolute h5 {
  margin-bottom: 1em;
}
.absolute {
  position: relative;
  top: 1em;
}
footer {
  background-color: rgba(0, 0, 0, 0.911);
}
.footer-link {
  margin: 1em 0 1em 4em;
}
.footer-link a {
  display: block;
  color: white;
  margin-bottom: 0.5em;
}

.grid h6 {
  color: rgba(255, 0, 0, 0.747);
}

.h6 {
  color: white;
}
.btn-info {
  width: 116px;
  height: 42px;
  left: 49px;
  top: 1683px;

  background: #2d9cdb;
  border-radius: 12px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #ffffff;
}
.mail input {
  width: 24.2em;
  border-radius: 0.5em;
  height: 2.6em;
}
.mail button {
  position: absolute;
  left: 25.5em;
  margin-top: 0.1em;
}
.name {
  color: white;
  text-align: center;
}
.resize {
  height: 3em;
}
.contact {
  display: flex;
}
.contact img {
  background-color: white;
  border-radius: 0.3em;
  margin: 0.5em;
}
footer a:hover {
  color: rgba(255, 255, 255, 0.863);
  text-decoration: none;
}

@media screen and (min-width: 570px) {
  .row {
    display: flex;
  }
  .grid {
    flex: 1;
    margin-top: 8em;
  }
  .flex-1 {
    flex: 1;
  }
  .flex-2 {
    flex: 1;
  }
}
body {
  overflow-x: hidden;
}

@media screen and (min-width: 991px) {
  .brand-bold {
    width: 70px;
    height: 53px;
    left: 52px;
    top: 42px;

    font-family: Heebo;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 53px;
    /* identical to box height */

    /* Gray 1 */

    color: #333333;
  }
  .navbar-light .navbar-nav .nav-link {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    /* identical to box height */

    /* Gray 1 */

    color: #333333;
  }
  .info {
    margin: 4em 0 2em 10em;
  }

  .info-2 {
    margin: 4em 0 2em 10em;
  }

  .info h6 {
 
    height: 27px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }
  .info h4 {
 
    height: 144px;

    font-size: 48px;
    line-height: 72px;
  }
  .info-2 h4 {
   
    height: 141px;

    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
  }
  .info-2 p {
  
    height: 137px;

    font-size: 18px;
    line-height: 27px;
  }
  .info-2 h6 {

    height: 21px;

    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }

  .demand {
    
    height: 108px;

    font-size: 36px;
    line-height: 54px;
  }
  .input-group > .form-control,
  .input-group > .form-control-plaintext {
    width: 291px;
    height: 47px;
  }
  .section h4 {
   
    height: 36px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
  }
  .section p {
    width: 273px;
    height: 96px;

    font-size: 16px;
    line-height: 24px;
  }
  .btn-info {

    height: 42px;

    background: #2d9cdb;
    border-radius: 12px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    color: #ffffff;
  }

  .Getstarted-1 {
    width: 116px;
    height: 42px;

    background: #e0e0e0;
    border-radius: 12px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    color: #828282;
  }
  .design h4 {
 
    height: 108px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
  }
  .col-md-6 h6{
  
    height: 26.45px;
   
    
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
  }
  .col-md-6 h5{
  
    height: 45.34px;
    
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    
    /* Gray 1 */
    
    color: #333333;
  }
}
